body{
    font: 15px Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #b7deed;
     }
    .boton1{
        height: 38px;
        background: #e9d4b3;
        border: 0;
        padding-left: 20px;
        padding-right: 20px;
        color: #f18e99;
     }
        input{
            width: 100%;
            height: 25px;
            border: 1px solid gray;
            margin-bottom: 5px;
       }