/HolaMundo/build/
/If.java/build/
/iterativas/build/
/operadores aritmeticos/build/
/arreglos/nbproject/private/
/arreglos/build/
/fechas/nbproject/private/
/fechas/build/
/ejercicio3/build/
/calculadoraJPR/nbproject/private/
/calculadoraJPR/build/
/CALCULADORA_JPR/nbproject/private/
/CALCULADORA_JPR/build/
/Area_Triangulo/build/
/Area_Triangulo/dist/
/Area_Triangulo/nbproject/private/
/Ejercicio2/build/
/Ejercicio2/dist/
/Ejercicio4/build/
/Ejercicio4/nbproject/private/
/ejercicios_ajax_servlet/promedionotas_jsp/dist/
/HolaMundofx/nbproject/private/
/HolaMundofx/build/
/HolaMundofx/dist/
/Beans_Servlet_Jsp_JPR/nbproject/private/
/Beans_Servlet_Jsp_JPR/build/